body {
    font-family: 'DM Sans', sans-serif;
}

header {
    background-color:rgb(231, 162, 130);
    padding: 20px 0;
}

.menuPrincipal {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Unbounded', cursive;
    text-decoration: none;
}

nav a:hover {
    color:brown;
    text-decoration: underline;
}

footer {
    text-align: center;
    /* Call the file this way because it's in another dir */
    background: url(../images/bg.jpg);
    padding: 40px;
}

.copyFooter {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

/* CSS for index.html */ 

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.principal {
    padding: 3m 0;
    width: 940px;
    margin: 0 auto;
}

.principalTitle {
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
    color: brown;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
}

.principal p {
    margin: 0 0 1em;
    text-align: justify;
    text-justify: inter-word;
    
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: normal;
}


.utensils {
    width: 160px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapRef {
    padding: 3em 0;
    background: linear-gradient(white, rgb(241, 208, 165))
}

.mapRef p {
    margin: 0 0 2em;
    text-align: center;
}

.contentMap {
    width: 940px;
    margin: 0 auto;
}

.differentials {
    padding: 3em 0;
    background: linear-gradient(rgb(240, 207, 164), rgba(243, 127, 18, 0.644))
}

.contentDiff {
    width: 640px;
    margin: 0 auto;
}

.listDiff {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:before {
    content: "✓ ";
}

.items:first-child {
    font-weight: bold;
}

.imagenDiff {
    width: 60%;
    transition: 400ms;
    box-shadow: 8px 7px 6px 0px rgba(0,0,0,0.5);
}

.video {
    width: 560px;
    margin: 1em auto;
}

/* CSS for products.html */

.productsItems {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productsItems li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid brown;
    border-radius: 10px;
}

.productsItems li:hover {
    border-color: rgb(14, 79, 199);
}

.productsItems li:active {
    border-color: rgb(238, 92, 92);
}

.productsItems h2 {
    font-size: 30px;
    font-weight: bold;
}

.productsItems li:hover h2{
    font-size: 35px;
}

.desProduct {
    font-size: 18px;
}

.priceProduct {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* CSS for contact.html */

form {
    margin: 40px 0;
    width: 940px;
    margin: 2em auto;
}

form label, form legend {
    display: block;
    font-size: 14px;
    margin: 0 0 10px;
    font-family: 'Unbounded', cursive;
}

.firtsInput {
    display: block;
    margin: 0 0 20px;
    padding: 5px 10px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.selectTimes legend {
    padding: 10px 0;
}

.buttonSend {
    padding: 15px 0;
    width: 40%;
    font-size: 15px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    background-color: rgb(241, 171, 79);
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.buttonSend:hover {
    background-color: rgb(247, 148, 19);
    transform: scale(1.05);
}


table {
    /* Try to move to right, but not considerate */
    width: 350px;
    position: relative;
    margin: 0 auto;
    bottom: 650px;
    left: 350px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

thead {
    background-color: rgb(233, 77, 77);
    color:aliceblue;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

/* Mobile style, not final*/

@media screen and (max-width:480px) {
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .header, .menuPrincipal, .principal, .contentMap, .contentDiff, .video {
        width: auto;
    }

    .listDiff, .imagenDiff {
        width: 100%;
    }
}